/* Hide public layout chrome only while dashboard segment is active */
body > header,
body > footer {
  display: none !important;
}

@layer utilities {
  html[data-font="workSans"] body {
    --font-sans: var(--font-work-sans);
  }

  html[data-font="clashDisplay"] body {
    --font-sans: var(--font-clash-display);
  }
}

html {
  overscroll-behavior: none;
}

.disable-transitions * {
  transition: none !important;
}
